extends layout.pug

block head
  title Admin - albums

block content
  .container
    h2 Albums

    form(action="/add-album", method="post").card.center-card
      .card-content
        span.card-title Add album

        //- Album's title field
        .input-field
          input(type="text", id="albumTitle", name="albumTitle", class="validate")
          label(for="albumTitle") Album title
        
        //- Songs upload
        .file-field.input-field
          .btn
            span Songs
            input(type="file", id="songs", name="songs", multiple)
          .file-path-wrapper
            input.file-path(type="text")
        
        .file-field.input-field
          .btn
            span Cover
            input(type="file", id="cover", name="cover")
          .file-path-wrapper
            input.file-path(type="text")

        ul.collection

        if error
          h6(class="red-text")= error

      .card-action
        input(type="submit", value="upload", class="btn disabled")

  script(src="/js/add-album.js")