extends layout.pug

block head
  title Admin - artists

block content
  .container
    h2 Artists

    table(class="highlight centered responsive-table")
      thead
        tr
          th Real name
          th Name of art
          th Description
      tbody
        each a in artists
          tr
            td= a.realName
            td= a.nameOfArt
            td.truncate= a.description
