extends layout.pug

block head
  title Explore

block content
  .container
    h2 Explore
    nav
      .nav-wrapper.white
        form(action="/search", method="post")
          .input-field
            input(type="search", id="search", required)
            label.label-icon
              i.material-icons.black-text search