footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Footer content
        p.grey-text.text-lighten-4 Footer paragraph
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3 Link 1
          li
            a.grey-text.text-lighten-3 Link 2
          li
            a.grey-text.text-lighten-3 Link 3
  .footer-copyright
    .container Copyright Text
      a.grey-text.text-lighten-4.right More links