<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/lib/materialize/materialize.min.css")
    link(rel="stylesheet", href="/lib/roboto.css")
    link(rel="stylesheet", href="/lib/material-icons/material-icons.css")
    link(rel="stylesheet", href="/css/style.css")
    block head
  body
    header
      include navbar.pug
    
    main
      block content

    include footer.pug
    script(src="/lib/materialize/materialize.min.js")
    script(src="/js/script.js")