nav
  a.sidenav-trigger(href='#' data-target='slide-out').hide-on-large
    i.material-icons menu
  .nav-wrapper.indigo
    a.center.brand-logo(href="/") Logo

ul#slide-out.sidenav.sidenav-fixed
  if user
    li
      .user-view
        .background.indigo
        a(href='/profile')
          span.white-text.name= user.local.name
        a(href='/profile')
          span.white-text.email= user.local.email
    if user.admin
      li
        a(href="/add-album") Add album
      li
        a(href="/admin-panel") Admin panel
    li
      a(href="/explore") Explore
  else
    li.indigo
      a.subheader.white-text Not signed yet
    li
      a(href='/signup') Sign up
    li
      a(href='/signin') Sign in
  li
    .divider
  if user
    li
      a(href="/logout") Log out