nav
  .nav-wrapper
    a.center.brand-logo Logo
    ul.right.hide-on-med-and-down
      li
        a Link1
      li
        a(href="./signup") Sign up
      li
        a(href="./signin") Sign in