nav
  .nav-wrapper.indigo
    a.left
      i.material-icons menu
    a.center.brand-logo Logo
    ul.right
      li
        a(href="./") Home
      if email
        li
          a(href="./profile") Profile
        li
          a(href="./logout") Log out
      else
        li
          a(href="./signup") Sign up
        li
          a(href="./signin") Sign in
