extends layout.pug

block head
  title Profile

block content
  .container
    h1 Profile
    p
      b Username: 
      span #{user.local.name}
    p
      b Email: 
      span #{user.local.email}
    p
      b Subscribed: 
      span #{user.subscribed ? 'yes' : 'no'}