extends layout.pug

block head
  title Sign up

block content
  .container
    form(action="/signup", method="post").card.center-card
      .card-content
        span.card-title Sign up
        .input-field
          input(type="text", name="username", id="username", class="validate", required)
          label(for="username") Username
        .input-field
          input(type="email", name="email", id="email", class="validate", required)
          label(for="email") E-mail
        .input-field
          input(type="password", name="password", id="password", class="validate", minlength="8", required)
          label(for="password") Password
        .input-field
          input(type="password", name="confirmPassword", id="confirmPassword", class="validate", minlength="8", required)
          label(for="confirmPassword") Confirm password
        if error
          p(class="red-text")= error
      .card-action
        input(type="submit", value="sign up", class="btn")
        a(href="/signin", class="btn-flat teal-text") sign in