extends layout.pug

block head
  title Login

block content
  .container
    form(action="/signin", method="post").card.center-card
      .card-content
        span.card-title Login
        .input-field
          input(type="email", id="email", value="admin@admin.com", name="email", class="validate", required)
          label(for="email") E-mail
        .input-field
          input(type="password", id="password", value="adminadmin", name="password", required)
          label(for="password") Password
        if error
          p(class="red-text")= error
      .card-action
        input(type="submit", value="sign in", class="btn")
        a(href="/signup", class="btn-flat teal-text") sign up