* {
  font-family: 'Roboto', sans-serif;  
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container-fluid {
  margin: 0 auto;
  width: 90%;
}

.center-card {
  max-width: 500px;
  margin: auto;
  margin-top: 15vh;
}